# Ignore all files in this directory
env
__pycache__
*.pyc
*.pyo
*.log
*.swp
*.out
*.pid

# Ignore all files in this directory
assets/image_processing/image_one.png
assets/image_processing/image_three.png
assets/image_processing/image_two.png
assets/image_processing/image_section.png
